<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body text="#FFFFFF" bgcolor="#FEB139">

<h1> Welcome to home page</h1>

<h2> Following are API implimented to make search easier</h2>

<ol>
    <li>website/patients- To search all Patients</li>
    <li>website/patients/id- To search Patients by IDS</li>
    <li>website/patients/name- To search Patients by name</li>
    <li>website/patientsby/problems- To search Patients by problem</li>
</ol>

</body>
</html>